* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#words {
  width: 100%;
  line-height: .8;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: pink;
}

#dynamic {
  font-size: 12px;
}
#impactful {
  font-size: 22px;
}
#implicit {
  font-size: 32px;
}
#nostalgic {
  font-size: 42px;
}
#mundane {
  font-size: 52px;
}
