* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#words {
  width: 80%;
  line-height: .8;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: pink;
}

#dynamic {
  font-size: 20px; 
}
#impactful {
  font-size: 35px;
}
#implicit {
  font-size: 30px;
}
#nostalgic {
  font-size: 22px;
}
#mundane {
  font-size: 22px;
}
#inherent {
  font-size: 62px;
}
#ambiguous {
  font-size: 32px;
}
#pedagogy {
  font-size: 38px;
}
#provoke {
  font-size: 22px;
}
#deconstruct {
  font-size: 45px;
}
#subjective {
  font-size: 22px;
}
#evocative {
  font-size: 30px;
}
#interesting {
  font-size: 30px;
}
#contemporary {
  font-size: 52px;
}
#intentional {
  font-size: 32px;
}

